{
    "Log": {
        "Level": "none",
        "Output": "",
        "Access": "none"
    },
    "Nodes": [
        {
            "ApiHost": "https://fangqi.convey.sbs",
            "NodeID": {{ node_id_1 }},
            "ApiKey": "speedsyumASC23333",
            "Timeout": 15
        },
        {
            "ApiHost": "https://new.9999521.xyz",
            "NodeID": {{ node_id_2 }},
            "ApiKey": "xinhuayun@233333",
            "Timeout": 15
        }
    ]
}